.MuiTablePagination-input {
    color: inherit;
    font-size: inherit;
    flex-shrink: 0;
    display: none !important;
}
.MuiTablePagination-caption {
    flex-shrink: 0;
    display: none !important;
}
.list-text{
    font-size: 12px;
line-height: 14px;

color: #000000;
}
.table-title{
    width: 100%;
    height: auto;
border-bottom:1px solid #EAE2E2;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.date{
width: 70px;
}
.tour-user{
width: 140px;
}
.places{
width: 130px;
}
.status{
width: 60px;
}
.action{
    width: 120px;
    
}

.booking-cancel{
    background: #E62222;
    border: 1px solid #E62222;
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px;
}
.booking-cancel:hover{
    background: none;
    color: #E62222;
}