.result {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  background: #F4F4F4;
}
.result-li {
  width: 70%;
  height: 215px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  margin-top: 20px;
}
.description-tours {
  width: auto;
  height: 100%;
  margin-left: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-tours {
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.description {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  align-items: center;
}
.paint {
  height: 12px;
}
.descrip_text {
  margin-left: 10px;
  font-size: 14px;
  color: #000000;
}
.result-price {
  font-size: 12px;
  line-height: 13px;
  display: block;
  color: #000000;
}
.more_details {
  width: 120px;
  height: 42px;
  background: #0f4ae2;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  margin-top: 27px;
}
.filter-spiner{
  height: 300px !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.smail{
  width: 120px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.text-err{
  font-size: 16px;
}
.image-card{
  width: 341px;
  height: 195px;
}
@media screen and (max-width: 960px) {
  .result-li{
    width: 90%;
  }
}
@media screen and (max-width: 770px) {
  .result-li{
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
.title-tours{
  font-size: 1.2em;
}
.descrip_text{
  font-size: 0.8em;
}
.image-card{
  width: 300px;
  height: 195px;
}
.description-tours{
  margin-left: 0px;
}
}
@media screen and (max-width: 600px) {

  .image-card{
    width: 250px;
    height: 195px;
  }
}
@media screen and (max-width: 545px) {

  .description {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  
    align-items: center;
  }
  .image-card{
    width: 200px;
    height: 195px;
  }
}
@media screen and (max-width: 460px) {
  .title-tours{
    font-size: 1em;
  }
  .result-li {

    height: 250px;
  }
}