.book{
    padding: 0px 20px 0px 20px;
    margin-left: 40px;
    /*margin-right: 40px;*/
    background-color: #fff;
    width: 21.4%;
    height: 430px;
}

.book-price{
    font-weight: bold;
    border-bottom: #E4E4E4 1px solid;
}
.book-price__size{
    /*font-weight: 500;*/
    font-size: 14px;
    color: #55575B;
    margin-top: -15px;
}
.book-price__guarantee{
    /*font-weight: normal;*/
    font-size: 16px;
    color: #495F25;
}


.book-picker{
    display: flex;
    flex-direction: column;
}

.book-picker__input{
    margin-top: 10px;
    width: 250px;
    cursor: pointer;
}
.book-picker__btn{
    margin-top: 10px;
    margin-bottom: 5px;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    width: 175px;
    height: 39px;


}
.book-picker__btn:hover{

}
.book-picker__select{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.book-picker__date{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 10px;
}



.book-picker__text-title{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}
.book-picker__text-subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-top: -10px;
}


.update{
    text-decoration: #F4F4F4;
    border: 1px solid #000000;
    background-color: #000000;
    color: white;
    margin-top: 30px;
    width: 100%;
    padding: 10px 60px;
}

.private{
    text-decoration: #F4F4F4;
    border: 1px solid #000000;
    background-color: red;
    color: white;
    margin-top: 30px;
    width: 100%;
    padding: 10px 60px;
}