.group{
    display: flex;
    background-color: #ffffff;
    padding: 40px;
    font-weight: bold;
    justify-content: space-evenly;
    width: 100%;
}


.group-list__guide{
    display: flex;
    justify-content: space-evenly;
    margin-right: 40px;
    margin-bottom: 30px;
}
.group-list__guide img{
    margin-right: 10px;
}


.group-list__people{
    border-left: 2px solid #C4C4C4;
    padding: 0px 30px;
}
.group-list__people img{
    margin-right: 10px;
}
.img-li{
    list-style-type:none;
    margin-left: -33px;
    margin-top: 10px;
}




.group-info{
    font-weight: bolder;
}
.group-info button{
    width: 146px;
    height: 37px;
    background: #C63333;
    border: 1px solid #E23434;
    border-radius: 0px;
    color: #ffffff;
    font-family: Lato;
}