.block-filter {
  width: 50%;
  height: 180px;
  display: flex;
  flex-direction: column;

  margin-top: 20px;
}
.dropdown-filter {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.filter-block {
  width: 100%;
  height: 120px;

  display: flex;
  flex-direction: column;

  align-items: center;
  background: #ffffff;
}
.block-title-filter {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.block-title-filter > h1 {
  font-size: 24px;
}
.country {
  width: 25%;
}
.country-span {
  font-size: 14px;
  line-height: 17px;
margin-bottom: 8px !important;
  color: #000000;
}
.activity {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.activity > span {
  font-size: 14px;
  line-height: 17px;


  color: #000000;
}
.price {
  width: 25%;
}
.apply {
  background: #ff690f;
  width: 60px;
  height: 35px;
  border: 1px solid #ff690f;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #ffffff;
}
.ui.search.selection.dropdown>input.search {
  line-height: 1.21428571em;
  padding: .67857143em 2.1em .67857143em 1em;
  margin-top: 8px;
}
.ui.search.dropdown > .text {
  top: 2px !important;
}
.ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon {

  top: 1.2em !important;

}