.book-picker__adults{
    display: flex;
    margin: 10px 10px 10px 0px;
    align-items: center;

}
.book-picker__adults h5{
    width: 20px;
    margin: 0px;
}
.book-picker__adults-btn{

    border: #000000 1px solid;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 20px;
    margin-right: 10px;
}

.book-picker__adults-inp{
    margin-top: 10px;
}