.form-title{
    display: flex;
    flex-direction: column;
    margin-left: -43%;
}
.title-info{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.title-info img{
    margin-right: 5px;
}