.tour{
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
}
.tour-rating{
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 50px;
    margin: 10% 0%;
}
.tour-rating__btn{
    width: 139px;
    height: 39px;
    background: #000000;
    border: none;
    color: white;
}