.book-picker__date-inpt{
    border: 1px solid #000000;
    height: 20px;
    border-radius: 5px;
    padding: 10px 38px;
    background-image: url("../img/calendar.png");
    background-repeat: no-repeat;
}
.book-picker__form{
    border: 1px solid #000000;
    height: 25px;
    border-radius: 5px;
    width: auto;
}
.book-picker__date{
    display: flex;
    flex-direction: column;
}
.book-picker__date-elem{
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 5px;
    width: 70%;
    margin-bottom: 3px;
    margin-left: 10px;
    font-size: 14px;
}

.book-picker__date-elem:hover{
    background-color: #F4F4F4;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
    transition: 0.3s;
}