


.nav-panel{
    height: 70px;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    transform: translate(62%,230%);
}
.carousel-inner {
    height: 586px;
    width: 100%;

}
.slide-text{
    font-size: 65px;
    font-family: 'Lato', sans-serif;
}
