


.nav-panel{
    height: 60px;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    transform: translate(24%,630%);
}
.text-slider{
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(87%,105%);
}

