
.block-add-image{
    margin: 10px;
    width: 80px;
    height: 80px;
    border: 1px solid #57C325;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.inpImage >img{
    cursor: pointer;
    padding: 15px;
    background: #57C325;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}