.cards1 {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 40px;

}
.img_act {
  width: 354px;
  height: 124px;
  display: block;
}

.active-card {
  width: 354px;
  height: 124px;
  margin: 8px;

  position: relative;

}
.card-text-activity {
  position: absolute;
  bottom: 55px;
  left: 135px;
  font-size: 24px;

color: #FFFFFF;

}
@media screen and (max-width: 990px) {
  .active-card {
    width: 354px;
    height: 124px;
    margin: 8px;
margin-left: auto;
margin-right: auto;
    position: relative;
  
  }
  .img_act {
    width: 354px;
    height: 124px;
    display: block;
  }
  .cards1 {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  justify-content: center;

    margin-top: 40px;
  
  }
}
