.user-page{
    height: auto;
    width: 100%;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 60px;
}
.user-container{
    width: 85%;
    height: auto;
    background: #FFFFFF;
    padding: 32px 44px;
}
.booking1{
    width:auto ;
    margin-left: 204px;
    margin-right: 7%;
    padding-top: 30px;
    padding-bottom: 30px;
}
@media screen and (max-width: 976px) {
    .booking1{
        width:auto ;
        margin-left: auto;
        margin-right: 7%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
  }
  @media screen and (max-width: 718px) {
    .booking1{
        width:100% ;
        margin-left: auto;
        margin-right: auto;

    }
  }
  @media screen and (max-width: 580px) {
    .user-container{
        width: 100%;

    }
    .booking1{
        width:100% ;
        margin-left: auto;
        margin-right: auto;

    }
  }