.card {
  opacity: 1;
  width: 350px !important;
  background: #ffffff;

  border-radius: 7px;
  height: 340px;
  margin: auto;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.13));
  border-radius: 8px;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}


.block-stars{
  display: flex;
  flex-direction: row;
}
.reitng11{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content{
  width: 100%;
  height: 190px;
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block-img{
  width: 100%;
  height: 150px;
  border-radius: 7px 7px 0px 0px;
  border: 1px solid none;
}
.block-img img{
  width: 100%;
  height: 100%;
  border-radius: 7px 7px 0px 0px;
}
.block-buttom{
  width: 100%;
  height: 45px;
  border-top: 1px solid #E4E4E4;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
 .people{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.people span{
  margin-left: 10px;
}
.location11{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.location11 span{
  margin-left: 10px;
}
.card-name{
  font-size: 21px;
color: #000000;
}
.from{
  font-size: 16px;

color: #C0C0C0;
}
.tour-price{
  font-size: 16px;
margin-left: 5px;

color: #000000;
}
.reting-figures{
  font-size: 11px;

color: #000000;
}
.block-buttom span{
  font-size: 11px;


color: #000000;
}
.people{
  width: 35%;
}
a{
  outline:none;
}
.slick-track {

  display: flex !important;
}
