.p1 {
  height: auto;
  margin-top: 35px;
}
.destion-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.destion-title > span {
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}
.destion-cards{
    margin-top: 25px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.cards {
  width: 250px;
  height: 310px;
  border-radius: 8px;
  margin-top: 40px;
  position: relative;

}
.img {
  width: 250px;
  height: 310px;
  display: block;
  border-radius: 8px;
}
.card-text {
  position: absolute;
  bottom: 60px;
  left: 30px;
  font-size: 24px;

  color: #ffffff;
}
@media screen and (max-width: 590px) {
  .destion-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}