.navBtn{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.link1{
    cursor: pointer;
}
.link1:hover{
    color: rgba(7, 58, 245, 0.63);
}
a {
    color: #000000 !important;
    text-decoration: none;
}
a:hover{
    color: rgba(7, 58, 245, 0.63) !important;  
}
@media screen and (max-width: 768px) {
    .navBtn{
        height: 300px;
        margin-top: 70px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .link1{
        font-size: 25px;
    }
}
