.tabs{
    display: flex;
    justify-content: space-evenly;
}

.info-tabs{
    padding: 20px 41px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.active{
    background-color: #FFFFFF;
}
@media screen and (max-width: 1000px) {
    .tabs{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
}
.slider {
    width: 45%;
}