.title-slider {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-slider > span {
  font-size: 72px;
  line-height: 97%;

  /* or 70px */

  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .title-slider > span {
    font-size: 50px;
  }
}
@media screen and (max-width: 990px) {
  .title-slider > span {
    font-size: 45px;
  }
}
@media screen and (max-width: 768px) {
  .title-slider > span {
    font-size: 30px;
  }
}
