.user-info {
  width: 100%;
  height: 184px;
  display: flex;
  flex-direction: row;
}
.info-content {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 60px;
}
.user-information {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-links {
  width: 706px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 2px solid #f4f4f4;
}
.button-mr {
  margin-left: 20px;
}
.user-name {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.user-text{
    margin-left: 5px;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}
.active-button{
  border-bottom: 2px solid #0F4AE2;
}
.user-links div{
  padding: 5px;
}
.user-text:hover{
  cursor: pointer;
}
.user-image{
  width: 144px;
  height: 184px;
}