.slider-home{
    position: relative !important;
}

.nav-panel{
    height: 60px;
    background: none;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 62%;
    transform: translate(31%,500%);
}
.text-slider{
    background: none;
    position: absolute !important;
    top: 0;
    left: 0;
    transform: translate(87%,50%);
}

.control-prev-icon {
    display: none;
 
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;

}
.carousel-indicators .active {
    opacity: 0;
}
.carousel-indicators li {
    display: none;
}
.carousel-item{
    position: static !important;
}
