.slider-home{
    position: relative !important;
}

.nav-panel{
    height: 60px;
    background: none;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 62%;
    transform: translate(31%,500%);
}
.text-slider{
    background: none;
    position: absolute !important;
    top: 0;
    left: 0;
    transform: translate(103%,60%);
}

.control-prev-icon {
    display: none;
 
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;

}
.carousel-indicators .active {
    opacity: 0;
}
.carousel-indicators li {
    display: none;
}
.carousel-item{
    position: static !important;
}
@media screen and (max-width: 1070px) {
    .text-slider{

        transform: translate(70%,60%);
    }
    .nav-panel{
        transform: translate(50%,500%);
    }

  }
  @media screen and (max-width: 1205px) {
    .nav-panel{
        transform: translate(35%,500%);
    }
    .text-slider{

        transform: translate(70%,60%);
    }
  }
  @media screen and (max-width: 990px) {
    .text-slider{
        transform: translate(120%,60%);
    }
    .nav-panel{
        transform: translate(13%,400%);
        width: 80%;
    }
  }
  @media screen and (max-width: 910px) {
    .text-slider{
        transform: translate(100%,60%);
    }

  }
  @media screen and (max-width: 768px) {
    .text-slider{
        transform: translate(140%,60%);
    }
    .nav-panel{
        transform: translate(13%,280%);
        width: 80%;
    }

  }
  @media screen and (max-width: 480px) {
    .text-slider{
       display: none;
    }
    .nav-panel{
        transform: translate(13%,30%);
        width: 80%;
    }

  }
