.ui.fluid.dropdown {
    height: 20px !important;
     margin-top: 0px !important; 
}
.search{
    border-radius: 7px !important;
    height: 33.5px !important;
    border: none !important;
}
.ui.search.dropdown>input.search {
    background: none transparent!important;
    border: 1px solid #373e4a !important; 
    box-shadow: none!important;
    cursor: text;
    top: 0;
    left: 1px;
    width: 100%;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    padding: inherit;
}
.ui.search.selection.dropdown>input.search {
    line-height: 1.21428571em;
    padding: .67857143em 2.1em .67857143em 1em;
     margin-top: 0px !important; 
}
.ui.search.dropdown > .text {
    top: -5px !important;
}
.ui.selection.dropdown>.dropdown.icon {
     top: 0.8em !important; 
}