.sign-user-content {
  width: 380px;
  height: 90%;
}
.App {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}



.input {
  border-radius: 7px;
  border: 1px solid #373e4a;

}

input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 10px;
  margin-bottom: 20px;
}

.submit1 {
  background-color: #373e4a;
  color: #ffffff;
  border: 1px solid #373e4a;
  background-color: 250ms;
  width: 172px;
  height: 23px;
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
}

.submit1:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
}
.input-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.black-line {
  width: 70%;
  height: 2px;
  background: #373e4a;
}
.line-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
.pasw {
  margin-top: 10px;
}
.block-check{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkbox{
  margin-right: 10px;
}
.pl-3 {
  padding-left: 1rem!important;
  text-align: center !important;
}
.modal1{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-galka{
  width: 150px;
}
.madal-text{
  font-size: 18px;
margin-top: 10px;

color: #000000;
}